.todoContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.todoList {
  padding: 0;

  max-height: 69vh; /* Biztosítjuk, hogy a lista ne nyúljon túl az ablakon */
  overflow-y: auto; /* Görgethetővé tesszük, ha túl magas lenne */
  overflow-x: hidden;
}

.todoItem {
  background-color: rgb(133 133 133);
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  list-style: none;
  margin: 0.5rem 0;
  width: 30rem;
  height: 3rem;
  display: flex;
  gap: 3rem;
  animation: fadeIn 0.3s ease-in-out;
}

.todoItemText {
  width: 20rem;
  height: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

/* SCROLLBAR BEGIN */
.todoItemText::-webkit-scrollbar {
  width: 8px;
}

.todoItemText::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.todoItemText::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

.todoItemText::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
/* SCROLLBAR END */

.inputTodoContainer {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.todoItemButtons {
  display: flex;
  gap: 0.5rem;
}

.doneBtn:hover {
  background-color: #000000aa;
}

.inputField {
  padding: 0.5rem 0.7rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: black;
  width: 100%;
}

.deleteTodo {
  background-color: rgba(242, 9, 9, 0.711);
  color: white;
}

.completedTodo {
  background-color: rgb(106, 188, 93);
  color: black;
}

.completedTodoText {
  font-weight: bold;
  display: inline-block;
  animation: fadeInAndScale 0.4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
